## User settings
xcuserdata/
DerivedData/

## Obj-C/Swift specific
*.hmap

## App packaging
build/
.build/
*.ipa
*.dSYM.zip
*.dSYM

# Previews
Preview\ Content/

# Swift Package Manager dependencies.
Packages/
Package.pins

# Ignore all Xcode workspaces by default
*.xcworkspace/

# Allow the implicit workspace inside the project
!*.xcodeproj/project.xcworkspace/

# Ignore everything inside it again
*.xcodeproj/project.xcworkspace/**

# Re-allow only SwiftPM resolution
!*.xcodeproj/project.xcworkspace/xcshareddata/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
